* {
    font-family: Fira Sans, sans-serif;
}
body {
    color: #22221a;
    font-family: Fira Sans, sans-serif;
    font-size: 18px;
    background-color: white;
}
h2 {
    font-size: 2.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
p {
    margin-top: .5rem;
    margin-bottom: .5rem;
}
a {
    text-decoration: none;
    color: #5D15D9;
}
th {
    font-weight: bold;
    padding: 0.5rem 0;
}
th:not(:last-of-type) {
    padding-right: 0.5rem;
}
