:root {
  --background: #fdf6e3;
  --opposite-background: #00222b;
  --solarized-red: #cb4b16;
  --solarized-magenta: #d33682;
  --solarized-cyan: #2aa198;
  --solarized-violet: #6c71c4;
  --solarized-blue: #268bd2;
  --high-contrast-lighter: #268bd2;
  --high-contrast-darker: #6c71c4;
  --low-contrast-lighter: #b58900;
  --text-color: #566970;
  --code-color: #6c71c4;
  --light-text-color: #839496;
}

.dark {
  --background: #00222b;
  --opposite-background: #fdf6e3;
  --high-contrast-lighter: #268bd2;
  --high-contrast-darker: #b58900;
  --low-contrast-lighter: #6c71c4;
  --text-color: #98abad;
  --code-color: #98abad;
  --light-text-color: #657b83;
}

body {
    background: var(--background);
    font-family: serif;
    margin-top: 0.5rem;
    margin-left: 0;
    margin-right: 0;
}
.toc ol {
  list-style-type: none;
  padding-left: 0.75rem;
  margin: 0;
}
.toc > ol {
  padding-left: 0;
}
.toc a {
  font-family: Consolas, Menlo, Ubuntu Mono, Liberation Mono, monospace;
}
.toc a, .toc a:visited {
  color: var(--light-text-color);
  border: none;
  font-size: 0.8rem;
}
.toc a:hover {
  color: var(--solarized-red);
}
.toc li {
  margin: 0.75rem 0;
  color: var(--light-text-color);
}
article {
    margin: 2rem 0;
}
.post-list {
	margin: 2rem 0;
}
a {
    color: var(--high-contrast-lighter);
    text-decoration: none;
    border-bottom: 1px solid var(--high-contrast-lighter);
}
a:hover {
    color: var(--solarized-red);
    border-bottom-color: var(--solarized-red);
}
a:visited {
    color: var(--low-contrast-lighter);
    border-bottom-color: var(--low-contrast-lighter);
}
.content {
    display: flex;
    justify-content: center;
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
}
.post-list .post-title {
    font-size: 1.4rem;
}
h1, h2, h3, h4, h5, h6, h7, .post-title {
    margin: 0 0 0.5rem;
    font-weight: normal;
    font-family: Consolas, Menlo, Ubuntu Mono, Liberation Mono, monospace;
    color: var(--solarized-magenta);
}
h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.4rem;
}
.post-title a {
  border-bottom: none;
  color: inherit;
}
.post-title a:visited {
  color: var(--low-contrast-lighter);
}
.post-title a:hover {
  color: var(--solarized-red);
}
.post-intro p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  line-height: 1.5rem;
}
.read-more a {
  font-size: 1.0rem;
  font-style: italic;
}
.rss-icon {
	height: 1rem;
}
.all-posts a {
	border-bottom: none;
}
.all-posts {
	color: var(--high-contrast-darker);
	font-size: 1rem;
	margin-right: 1rem;
}
.post-list h1, .post-list h2, .post-list span {
  padding-left: 0;
  padding-right: 0;
}
.all-posts-post {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}
.all-posts-post .date {
	margin-right: 1rem;
}
.all-posts-post .tags {
    display: inline;
}
.all-posts-post .tags a {
    font-size: 1rem;
}
p, article li {
    color: var(--text-color);
}
p, article li {
    font-size: 1.3rem;
    line-height: 1.9rem;
}
pre, code {
  font-size: 1.0rem;
  line-height: 1.3rem;
  color: var(--code-color);
  overflow-x: scroll;
}

blockquote {
  border-left: 0.2rem solid var(--solarized-cyan);
  margin-left: 1rem;
  padding-left: 1rem;
  margin-bottom: 1.75rem;
}

.left {
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: 1050px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row-reverse;
  max-width: 100%;
}
.sidebar {
  order: 2;
  box-sizing: border-box;
  align-self: start;
  padding-top: 1rem;
  top: 0;
  padding-left: 4rem;
  display: flex;
  justify-content: end;
  position: sticky; /* overridden at small widths in media query */
}
.sidebar-container {
  padding-right: 1rem;
}
.sidebar.sticky {
  position: sticky;
}
.short-sidebar {
  height: calc(30px + 1rem);
}
.toc-button {
  display: none;
  height: 30px;
  font-family: Consolas, Menlo, Ubuntu Mono, Liberation Mono, monospace;
  font-size: 0.8rem;
  color: var(--high-contrast-darker);
  border: 1px solid var(--high-contrast-darker);
  background: var(--background);
}
.sidebar, .spacer, .sidebar-heading {
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: 300px;
  max-width: 750px;
}

.sidebar-heading .section-text {
  height: 30px;
  color: var(--light-text-color);
  font-family: Consolas, Menlo, Ubuntu Mono, Liberation Mono, monospace;
}
.popover .sidebar-heading {
  padding-right: 0;
}

.spacer {
  order: 0;
}
.header-container {
  flex-basis: 750px;
  order: 1;
  box-sizing: border-box;
  padding: 0 1rem;
}
.width-constraint {
  order: 3;
  box-sizing: border-box;
  flex-grow: 1;
  max-width: min(100%, 750px);
  flex-basis: 750px;
  padding: 0 1rem;
}
.right {
  flex-shrink: 0;
  flex-grow: 1;
}
.header {
    font-family: Consolas, Menlo, Ubuntu Mono, Liberation Mono, monospace;
    font-size: 1rem;
    border-bottom: 1px solid var(--high-contrast-darker);
    display: flex;
    flex-direction: column;
    padding: min(2rem, calc(2rem + (100vw - 800px))) 0 1rem;
    flex-wrap: wrap;
    color: var(--high-contrast-darker);
}
.header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header-row-logos-socials {
  padding-top: 0.5rem;
  display: flex;
  align-items: center;
}
.header-row-logos-socials a {
  display: flex;
  height: 1.2rem;
  width: 1.2rem;
  padding-right: 0.75rem;
  border-bottom: none;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
}
.mastodon-logo {
  background-image: url("/mastodon-logo.svg");
}
.github-logo {
  background-image: url("/github-mark.svg");
}
.dark .github-logo {
  background-image: url("/github-mark-white.svg");
}

.header-row-top-navigation {
  display: flex;
  flex: 1 1 200px;
  justify-content: flex-end;
}
.navigation {
  display: flex;
}
.theme-switch-container {
  font-size: 0.8rem;
  align-self: end;
}
.header .main-link {
  display: block;
  color: var(--high-contrast-darker);
  border-bottom: none;
  margin-right: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.header .main-link:visited {
  color: var(--high-contrast-darker);
}
.header ul {
    padding: 0;
    margin-top: 0.5rem;
    margin-bottom: -0.5rem;
    list-style-type: none;
}
.header ul li {
  float: left;
  margin-bottom: 0.5rem;
}
.header ul li:not(:last-of-type) {
  margin-right: 1rem;
}
.header ul li a, .header ul li a:visited {
   color: var(--high-contrast-lighter);
   border-bottom: none;
}
#theme-switch {
	cursor: default;
	border: 1px solid var(--solarized-magenta);
	padding: 0.3rem;
	color: var(--solarized-magenta);
  margin-bottom: 0.25rem;
}
#theme-switch:hover {
	background: var(--opposite-background);
}
.header a:hover {
  color: var(--solarized-red);
}
.heading-box {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.heading-box .date {
  margin-bottom: 0.5rem;
  display: block;
}
.post-metadata {
  line-height: 1.5rem;
}
.date {
  margin: 0 0 0.5rem;
  font-family: Consolas, Menlo, Ubuntu Mono, Liberation Mono, monospace;
  font-size: 1rem;
}
.date {
  color: var(--high-contrast-darker);
}

.tags {
    display: block;
}
.tags a:visited {
  color: var(--low-contrast-lighter);
}
.tags a {
  font-size: 1rem;;
  color: var(--high-contrast-lighter);
  border-bottom: none;
  font-family: Consolas, Menlo, Ubuntu Mono, Liberation Mono, monospace;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}

body .intro {
    font-size: 2em;
    line-height: 2.5rem;
    color: var(--solarized-cyan);
}
.post-content > *, .post-intro > * {
  max-width: 100%;
}
.post-content.drop-cap > p:first-of-type:first-letter {
    color: var(--background);
    background-color: var(--solarized-cyan);
    padding: .3rem;
    margin-right: .2rem;
    float: left;
    font-family: Consolas, Menlo, Ubuntu Mono, Liberation Mono, monospace;
    font-size: 3rem;
    box-shadow: -.4rem .4rem 0 var(--solarized-violet);
}
.all-tags-table {
  color: var(--text-color);
  font-size: 1.2rem;
  margin-top: 2rem;
}
.all-tags-table thead td {
  color: var(--solarized-cyan);
}
.all-tags-table td {
  padding-bottom: 0.5rem;
  padding-right: 1rem;
}
.all-tags-table a {
  border-bottom: none;
}
.tag-text-container {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 1rem;
}
.tag-text-container > * {
  margin: 0;
}
.tag-text-container a {
  margin-left: 1rem;
  border-bottom: none;
  display: flex;
}
.rss-icon {
  margin-right: 0.25rem;
  width: 1rem;
}
.rss-text {
  color: var(--light-text-color);
  font-family: Consolas, Menlo, Ubuntu Mono, Liberation Mono, monospace;
  font-size: 0.8rem;
}

/* Things related to SVGs and graphviz dot */

g.graph > polygon {
  fill: transparent;
}
g.edge polygon,
g.edge path {
  fill: #566970;
  stroke: #566970;
}
g.node text {
  fill: #566970;
}
g.node :not(text) {
  stroke: #566970;
}

g.node [fill=lightgrey] {
  fill: #e2d9be;
}
g.node [fill=orangered] {
  fill: #dc322f;
}
g.node [fill=yellowgreen] {
  fill: #859900;
}
g.node [fill=goldenrod] {
  fill: #b58900;
}
g.node [fill=cyan] {
  fill: #268bd2;
}

g.node [fill=orangered] ~ text,
g.node [fill=yellowgreen] ~ text,
g.node [fill=goldenrod] ~ text,
g.node [fill=cyan] ~ text {
  fill: #fdf6e3 !important;
}

/* dark mode svgs */
.dark g.edge polygon,
.dark g.edge path {
  fill: #98abad;
  stroke: #98abad;
}
.dark g.node text {
  fill: #98abad;
}
.dark g.node ellipse,
.dark g.node polygon {
  stroke: #98abad;
}

.dark g.node ellipse[fill=lightgrey],
.dark g.node polygon[fill=lightgrey] {
  fill: #073a47;
}

ul.link-list {
  padding-left: 0;
  list-style-type: none;
}

ul.link-list li {
  margin-bottom: 0.7rem;
}

.link-list-item, .link-list-archive a {
  font-family: Consolas, Menlo, Ubuntu Mono, Liberation Mono, monospace;
}
.link-list-item {
  font-size: 1rem;
  padding: 0.2rem 0.3rem;
}

.link-list-archive {
  display: inline-block;
}
.link-list-archive a {
  font-size: 0.9rem;
  color: var(--light-text-color);
  border-bottom-color: var(--light-text-color);
}
.link-list-archive a:hover {
  color: var(--solarized-red);
  border-bottom-color: var(--solarized-red);
}
.link-list-archive a:visited {
  color: var(--low-contrast-lighter);
  border-bottom-color: var(--low-contrast-lighter);
}

.link-list-article {
  color: var(--solarized-magenta);
}
.link-list-podcast {
  color: var(--solarized-cyan);
}

@media (max-width: 1050px) {
  .sidebar {
    overflow: hidden;
    position: relative;
  }
  .sidebar.sticky .sidebar-heading {
    text-align: right;
  }
  .toc-button {
    display: inline;
  }
  .sidebar-container.popover {
    background: var(--background);
    padding: 0.5rem;
    margin: 0 1rem 0.5rem;
    border: 1px dashed var(--high-contrast-darker);
    box-shadow: 0 0 0.5rem var(--light-text-color);
  }
  .hide-when-small {
    display: none;
  }
}
