body {
    background: #fdf6e3;
    font-family: serif;
}
article {
    margin: 2rem 0;
}
.post-list {
	margin: 32px 0;
}
a {
    color: #268bd2;
    text-decoration: none;
    border-bottom: 1px solid #268bd2;
}
a:hover {
    color: #cb4b16;
    border-bottom-color: #cb4b16;
}
a:visited {
    color: #b58900;
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
h1, .post-title {
    margin: 0;
    padding: 0.2rem;
    font-size: 1.8rem;
    font-weight: normal;
    font-family: Consolas, Menlo, Ubuntu Mono, Liberation Mono, monospace;
    color: #2aa198;
}
.post-title a {
	border-bottom: none;
	color: inherit;
}
.post-title a:visited {
  color: #b58900;
}
.post-title a:hover {
  color: #cb4b16;
}
.post-intro {
	margin: 0;
}
.all-posts {
	color: #6c71c4;
	font-size: 1rem;
}
.post-list h1, .post-list h2, .post-list span {
  padding-left: 0;
  padding-right: 0;
}
.all-posts-post {
	margin-top: 2rem;
}
.all-posts-post .date {
	margin-right: 1rem;
}
p {
    color: #657b83;
    font-size: 1.2rem;
    line-height: 1.75rem;
}
.width-constraint {
    padding: 0 2rem;
    flex-direction: column;
    flex-basis: 45rem;
}
.header {
    font-family: Consolas, Menlo, Ubuntu Mono, Liberation Mono, monospace;
    font-size: 1rem;
    border-bottom: 1px solid #6c71c4;
    display: flex;
    align-items: center;
    padding: 2rem 0 1rem;
    flex-wrap: wrap;
    color: #6c71c4;
}
.header > * {
    margin-bottom: 1rem;
}
.header .main-link {
    padding-right: 3rem;
    flex-grow: 1;
    color: inherit;
    border-bottom: none;
}
.header ul {
    padding: 0;
    margin-top: 0;
    list-style-type: none;
}
.header ul li {
    float: left;
    margin-right: 1.5rem;
}
.header ul li a {
   color: #268bd2;
    border-bottom: none;
}
.header a:visited {
  color: #268bd2;
}
.header a:hover {
  color: #cb4b16;
}
.heading-box {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.date {
    margin: 0;
    padding: 0.2rem;
    font-family: Consolas, Menlo, Ubuntu Mono, Liberation Mono, monospace;
    color: #6c71c4;
    font-size: 1rem;
}
.intro {
    font-size: 2em;
    color: #d33682;
}
.post-content > p:first-of-type:first-letter {
    color: #fdf6e3;
    background-color: #2aa198;
    padding: .3rem;
    margin-right: .2rem;
    float: left;
    font-family: Consolas, Menlo, Ubuntu Mono, Liberation Mono, monospace;
    font-size: 3rem;
    box-shadow: -.4rem .4rem 0 #6c71c4;
}
